<!doctype>
<html>
<head>
    {% include 'AppBundle:Templates:required-css.html.twig' %}
    <link href="{{ asset('bundles/app/css/landing.css') }}" rel="stylesheet">
</head>

<body>
    <div class="background">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            <div class="logo-holder">
                <a href="#"><img src="{{ asset('bundles/app/img/logo.png') }}"></a>
            </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


              <ul class="nav navbar-nav navbar-right">
<!--
                <li class="log-in-header"><a href="#" style="color:white;">Log in</a></li>
                <li><button type="submit" class="btn btn-default">Sign up</button></li>
-->
              </ul>
            </div>
          </div>
        </nav>
        
        <div class="tagline-landing">
            <h1 class="sub-tag">Mass opinion</h1>
            <h1 class="main-tag">VISUALISED</h1>
            <div class="signup-twitter">Sign up with Twitter!</div>
        </div>
        
    </div>

    {% block scripts %}
        {% include 'AppBundle:Templates:required-js.html.twig' %}
    {% endblock %}
    <script type="text/javascript">
        var homePath = Routing.generate('fica_help');
        O.sendAjaxRequest(homePath,"ok",O.tester1,O.tester2);
    </script>
</body>
</html>