<!doctype>
<html>
<head>
{% include 'AppBundle:Templates:required-css.html.twig' %}
</head>

<body>
    <div class="header"></div>

    {% block scripts %}
        {% include 'AppBundle:Templates:required-js.html.twig' %}
    {% endblock %}
</body>
</html>