<!doctype>
<html>
<head>
    <link href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/app/css/landing.css') }}" rel="stylesheet">
    {# putanja do css mora ovako da ide #}
</head>

<body>

</body>
</html>