$header-color: #016FB9;
$sing-up-button: #016FB9;
$sing-up-button-active: #3f8bbe;
$sing-up-button-hover: #3f8bbe;
$font-family: 'Open Sans', sans-serif;

body{
    font-family: $font-family;
    background: #e8e8e8;
}

.container-fluid {
    width: 100%;
    padding: 0;
    padding-left: 3%;
    margin: 0 auto;
}

.navbar-default {
    height: 85px;
    padding-top:5px;
    width: 100%;
    background: $header-color;
    //box-shadow:1px 4px 6px #2f2f2f;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-right {
    font-size: 12px;
}

.btn-navigation {
    border: 0px;
    background-color: $sing-up-button;
    color: white;
    width: 100px;
    height: 85px;
    margin-top: -5px;
    font-size: 14px;
    border-radius: 0px;
}

.btn-navigation:hover {
    color: white;
    background: $sing-up-button-hover;
}

.btn-navigation:focus {
    color:white;
}

#active {
    background-color: $sing-up-button-active;
}

.log-in-header > a,.log-in-header > a:visited, .log-in-header > a:hover {
    color: white;
    margin-top: 12px;
}

.navbar-default .navbar-nav>li>a {
    padding: 0;
    margin: 0;
}

.mapholder-info-kveri {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.btn-navigation-pay {
    font-weight: bold;
    color: #ffe200;
}

.btn-navigation-pay:hover {
    font-weight: bold;
    color: #ffe200;
}

.title-map {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.row {
    margin: 0;
}
.tweets-holder {
     width: 470px;
    padding: 20px 15px 0px 15px;
    text-align: justify;
}

#GoodTweets {
    background: white;
    margin-bottom: 50px;
    box-shadow:1px 4px 6px #dbdbdb;
}

.see-more-tweets {
    width: 100%;
    padding: 20px;
    background: #016FB9;
}

.see-more-tweets a {
    color: white;
    text-decoration: none;
}

.sentiment-score {
    background: #00a82d;
     width: 470px;
    margin-left: -15px;
    margin-top: 10px;
    padding-left: 15px;
    height: 20px;
    color: white;
}

.sentiment-score-bad {
    background: #a80000;
     width: 470px;
    margin-left: -15px;
    margin-top: 10px;
    padding-left: 15px;
    height: 20px;
    color: white;
}

#BadTweets {
    background: white;
    margin-bottom: 50px;
    box-shadow:1px 4px 6px #dbdbdb;
}

h3 { 
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: bold;
}