
<!doctype>
<html>
    <head>
        {% include 'AppBundle:Templates:required-css.html.twig' %}
        <link href="{{ asset('bundles/app/css/job-list.css') }}" rel="stylesheet">
    </head>

    <body>
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            <div class="logo-holder">
                <a href="#"><img src="{{ asset('bundles/app/img/logo.png') }}"></a>
            </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


              <ul class="nav navbar-nav navbar-right">

                <li><a href="#"><button type="submit" class="btn btn-navigation">Home</button></a></li>
                <li><a href="#"><button type="submit" id="active" class="btn btn-navigation">Tracking</button></a></li>
                <li><a href="#"><button type="submit" class="btn btn-navigation">History</button></a></li>
                <li><a href="{{path('logout')}}"><button type="submit" class="btn btn-navigation">Log out</button></a></li>
              </ul>
            </div>
          </div>
        </nav>
        
        <div class="table">
             <table>
              <tr>
                    <th>Keyword</th>
                    <th>Last updated</th> 
                    <th>Average sentiment</th>
                    <th><a href=""><button type="submit" class="btn btn-create-new">Create new tracking keyword</button></a></th>
              </tr>
              <tr>
                    <td>as</td>
                    <td>Jackson</td> 
                    <td>94</td>
                  <td><a href=""><button type="submit" class="btn btn-view-track">Show stats</button></a></td>
              </tr>
              
            </table>

        </div>
    </body>
</html>