{# user je user i dobija se bool premium da znas da li da dajes dva linka jos ili ne#}
<!doctype>
<html>
    <head>
    </head>

    <body>
        {{ user.tid }}
        <br>
        <br>
            <input type="file" id="PhotoInput" accept="image/*">
        <br>
        <br>
        <br>
        <br>

        <div id="GlavnaMapa" style="height: 500px; width: 500px;"></div>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
        {% include 'AppBundle:Templates:required-js.html.twig' %}

        <script type="text/javascript">

        var mapsApi = Routing.generate('map_get');
        O.sendAjaxRequest(mapsApi,"ok", O.addToMap);

            
        $("#PhotoInput").change(function(){
            readURL(this);
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    O.slika = e.target.result;
                    saveImage(input, O.slika);
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }

        O.changePhotoSuccess = function(data){
            $("#UserPhoto").attr('src', O.slika);
        }
        O.changePhotoError = function(data){
            console.log(data);
        }
        function saveImage(input, imgData){
            var homePath = Routing.generate('user_photo_change');
            O.sendAjaxRequest(homePath, imgData, O.changePhotoSuccess, O.changePhotoError);
        }
        </script>
    <body>
</html>